@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: black;
  position: relative;
  font-family: "Comfortaa", cursive;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  z-index: 9;
  align-items: center;
  display: flex;
}
.brand-logo {
  height: 70px;
}
.nav-links {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: uppercase;
  color: white;
  opacity: 0.9;
}

.right-Container {
  display: block;
  margin-left: auto;
}

.search-box {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 30px;
  color: white;
  width: 250px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.search-box:focus {
  width: 300px;
  border-color: blue;
  color: red;
}
.sub-btn {
  background-color: blue;
  height: 30px;
  padding: 0 20px;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 12px;
  margin: 0 10px;
}
.login-link {
  color: white;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}
.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
  background-color: #181414;
  transition: 0.8s;
}
.carousel:hover {
  border: solid 3px rgb(245, 244, 244);
}

.slider {
  /* in this way , so it will schrink */
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background-color: rgba(5, 34, 88, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide_content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 80%, #00000000);
  /* background: transparent; */
  color: white;
}

.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-description {
  /* background-color: aquamarine; */
  width: 70%;
  padding-left: 50px;
  line-height: 17px;
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.8;
  text-align: justify;
  /* overflow: scroll;
  scroll-behavior: smooth; */
}

/* ============ video */

.video-card-container {
  position: relative;
  width: 92%;
  height: 10vw;
  margin: auto;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 5- 10px);
  width: calc(100% / 5- 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: red;
}

.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-video {
  position: absolute;
}

.video-card:hover,
.video-card-image {
  display: flex;
}

.video-card:hover {
  border: solid 3px rgb(245, 244, 244);
  transition: 0.5s;
}
